.container-home {
    min-height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(90deg, rgb(5, 237, 227) 0%, rgb(100, 95, 251) 100%, rgb(100, 95, 251) 100%);
}

.container-home main {
    width: 100%;
    height: calc(100vh - 120px);
    margin-top: auto;
    padding: 60px 100px;

    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    border-radius: 60px 60px 0px 0px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 40px;
    right: 100px;
}

.profile__img {
    border: 2px solid white;
    border-radius: 50%;
}

.profile__span {
    margin-left: 9px;
    margin-right: 16px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.profile img {
    cursor: pointer;
}

.profile img:hover {
    transform: scale(1.1);
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;

    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    gap: 8px;
    margin-bottom: 25px;
    padding: 8px 0;
    cursor: pointer;
}

.filter__span {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.filter__span,
.transactions-info {
    font-family: 'Lato', sans-serif;
}

.container-asides {
    display: flex;
    justify-content: space-between;
}

.aside-left {
    width: 68%;
}

.container-filter {
    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    padding: 25px 10px 15px 35px;
    margin-bottom: 60px;
}

.container-filter h1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #B9B9B9;

    margin-bottom: 15px;
}

.container-filter__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 18px;
}

.container-filter__category {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90px;
    height: 30px;
    padding: 0 10px;

    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    cursor: pointer;
}

.container-filter__category span {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}

.container-filter__buttons {
    display: flex;
    align-items: center;
    gap: 18px;
}

.container-filter__buttons button {
    width: 98px;
    height: 30px;

    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #000000;
    background: #FAFAFA;
}

button.background-purple,
.background-purple {
    color: #FFFFFF;
    background: #7978D9;
}

.transactions-info {
    margin-bottom: 60px;
}

.transactions-info__header {
    display: flex;
    height: 58px;

    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.transactions-info__header div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.transactions-info__header div,
.transactions-info__date,
.transactions-info__value,
.transactions-info__day,
.transactions-info__description,
.transactions-info__category {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.transactions-info__day,
.transactions-info__description,
.transactions-info__category {
    font-weight: 400;
}

.transactions-info__details {
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    position: relative;
}

.transactions-info__details div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
}

.transactions-info__date,
.transactions-info__day,
.transactions-info__category,
.transactions-info__value {
    width: 145px;
}

.transactions-info__description {
    width: 200px;
}

.purple {
    color: #7B61FF;
}

.orange {
    color: #FA8C10;
}

.transactions-info__icons {
    margin-left: 20px;
    gap: 15px;
}

.edit-transaction,
.delete-transaction {
    cursor: pointer;
}

.aside-right {
    width: 25%;
}

.overview {
    display: flex;
    flex-direction: column;

    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    padding: 26px 33px 30px 33px;
    margin-bottom: 15px;
}

.overview h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #2F2F2F;

    margin-bottom: 25px;
}

.incoming,
.outgoing,
.balance {
    display: flex;
    justify-content: space-between;
}

.incoming {
    margin-bottom: 10px;
}

.overview span {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #2F2F2F;
}

span.purple {
    color: #645FFB;
}

span.orange {
    color: #FA8C10;
}

.balance .blue {
    background: #FAFAFA;
    color: #3A9FF1;
}

.overview-line {
    margin: 17px 0;
    background-color: #EAEAEA;
    border: 1px solid #EAEAEA;
}

.aside-right button {
    width: 100%;

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;

    background: #7978D9;
    border-radius: 5px;

    padding: 12px 0;
}